<div id="container">
    <div id="field">
        <SimulatorField 
            ref:field
            bind:odom
            bind:waypoints
            bind:tennis_balls
            bind:rocks
            bind:tennis_ball_state
            mode="{{draw_mode}}"/>
    </div>

    <div id="drawmode">
        <DrawModeSelector bind:mode="draw_mode"/>
    </div>

    <div id="sidebar">
        <div class="display" id="odom_display">
            <h2>Odometry</h2>
            <p><b>Latitude:</b> {{ odom.latitude_deg }}&#176; {{ odom.latitude_min }}'</p>
            <p><b>Longitude:</b> {{ odom.longitude_deg }}&#176; {{ odom.longitude_min }}'</p>
            <p><b>Bearing:</b> {{ odom.bearing_deg }}</p>
        </div>

        <div class="display" id="joystick_display">
            <h2>Joystick</h2>
            {{#if lcm_connected}}
            <p><b>Translational:</b> {{ forward_back }}</p>
            <p><b>Rotational:</b> {{ left_right }}</p>
            {{/if}}
        </div>

        <div class="display" id="controls">
            <p>
                <input type="checkbox" id="auton_enable" bind:checked="enabled">
                <label for="auton_enable">Autonomy On?</label>
            </p>
            {{#if lcm_connected}}
            <p><b>Navigation State:</b> {{ nav_state_textual }}</p>
            <p><b>Completed Waypoints:</b> {{ completed_wps }}/{{ total_wps }}</p>
            {{else}}
            <p>LCM not connected.</p>
            {{/if}}
        </div>

        {{#each waypoints as waypoint, i}}
        <div class="display waypoint_display">
            <SimulatedItemDisplay 
                           title="Waypoint {{ i }}"
                           item="{{ waypoint }}"
                           on:click='splice("waypoints", i, 1)'>
                <p>
                    <input type="checkbox" id="search_checkbox_{{ i }}" bind:checked="waypoint.search">
                    <label for="search_checkbox_{{ i }}">Search?</label>
                </p>
            </SimulatedItemDisplay>
        </div>
        {{/each}}

        {{#each tennis_balls as tennis_ball, i}}
        <div class="display tennis_ball_display">
            <SimulatedItemDisplay
                            title="Ball {{ i }}"
                            item="{{ tennis_ball }}"
                            on:click='splice("tennis_balls", i, 1)'>
                {{#if tennis_ball.detected}}
                <b>
                Found the ball!
                </b>
                {{/if}}
            </SimulatedItemDisplay>
        </div>
        {{/each}}

        {{#each rocks as rock, i}}
        <div class="display rock_display">
            <SimulatedItemDisplay
                            title="Rock {{ i }}"
                            item="{{ rock }}"
                            on:click='splice("rocks", i, 1)'>
                <p>
                    <button on:click="invert_rock(i)">
                        Flip
                    </button>
                </p>
            </SimulatedItemDisplay>
        </div>
        {{/each}}
    </div>
</div>

<script>
    import _ from 'lodash';
    import fnv from 'fnv-plus';
    import { splice } from 'svelte-extras';
    import SimulatorField from './SimulatorField.html';
    import DrawModeSelector from './DrawModeSelector.html';
    import SimulatedItemDisplay from './SimulatedItemDisplay.html';
    import { WAYPOINT_MODE, ROCK_MODE, TENNIS_BALL_MODE } from "../constants.js";
    import { to_dms } from '../geography.js';

    export default {
        data () {
            return {
                draw_mode: WAYPOINT_MODE,

                odom: Object.assign({}, to_dms({
                    lat: 39.4,
                    lon: -110.5
                }), { bearing_deg: 0 }),

                forward_back: 0,
                left_right: 0,

                waypoints: [],
                tennis_balls: [],
                rocks: [],

                tennis_ball_state: {
                    found: false,
                    bearing: 0,
                    distance: 0
                },

                lcm_connected: false,

                nav_state: 0,
                completed_wps: 0,
                total_wps: 0,

                enabled: false,
            }
        },

        computed: {
            nav_state_textual: (nav_state) => {
                // 
                switch(nav_state) {
                case 0: return 'OFF';
                case 1: return 'DONE';
                case 10: return 'TURN_AND_DRIVE';
                case 20: return 'SEARCH_FACE0';
                case 21: return 'SEARCH_FACE120';
                case 22: return 'SEARCH_FACE240';
                case 23: return 'SEARCH_FACE360';
                case 24: return 'SEARCH_TURN_AND_DRIVE';
                case 28: return 'TURN_TO_BALL';
                case 29: return 'DRIVE_TO_BALL';
                case 30: return 'TURN_AROUND_OBS';
                case 31: return 'DRIVE_AROUND_OBS';
                case 32: return 'SEARCH_TURN_AROUND_OBS';
                case 33: return 'SEARCH_DRIVE_AROUND_OBS';
                default: return 'UNKNOWN';
                }
            }
        },

        methods: {
            apply_joystick: function(stick) {
                this.set({
                    forward_back: stick.forward_back,
                    left_right: stick.left_right
                });

                this.refs.field.apply_joystick(stick);
            },

            start_odom_events: function() {
                window.setInterval(() => {
                    this.fire("auton", {
                        is_auton: this.get('enabled')
                    });
                    const odom = this.get("odom");
                    this.fire("odom", {
                        latitude_deg: odom.latitude_deg|0,
                        latitude_min: odom.latitude_min,
                        longitude_deg: odom.longitude_deg|0,
                        longitude_min: odom.longitude_min,
                        bearing_deg: odom.bearing_deg
                    });
                    const waypoints = this.get('waypoints');
                    let course = {
                        num_waypoints: waypoints.length,
                        waypoints: _.map(waypoints, (waypoint) => {
                            return {
                                type: "Waypoint",
                                search: waypoint.search,
                                odom: {
                                    latitude_deg: waypoint.latitude_deg|0,
                                    latitude_min: waypoint.latitude_min,
                                    longitude_deg: waypoint.longitude_deg|0,
                                    longitude_min: waypoint.longitude_min,
                                    bearing_deg: 0,
                                    type: "Odometry"
                                }
                            }
                        })
                    };
                    course.hash = fnv.fast1a52(JSON.stringify(course));
                    this.fire("course", course);

                    let tennis_ball_state = this.get("tennis_ball_state");
                    this.fire("tennis_ball", tennis_ball_state);
                }, 100);
            },
            invert_rock: function(i) {
                let rocks = this.get("rocks");
                rocks[i].direction *= -1;
                this.set({ rocks });
            },
            splice
        },
        components: {
            SimulatorField,
            DrawModeSelector,
            SimulatedItemDisplay
        }
    }
</script>

<style>
#container {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 600px 1fr;
    grid-template-areas: "canvas sidebar"
                         "drawmode sidebar";
    grid-gap: 5px;                    
}

#field {
    grid-area: canvas;
}

#sidebar {
    grid-area: sidebar;
}

#drawmode {
    grid-area: drawmode;
}

div + div {
    margin-top: 10px;
}

.display {
    color: white;
    padding: 5px;
}

.display * {
    margin: 0px;
}

#odom_display {
    background-color: darkred;
}

#joystick_display {
    background-color: darkblue;
}

.waypoint_display {
    background-color: darkgreen;
}

.tennis_ball_display {
    color: black;
    background-color: lightgreen;
}

.rock_display {
    background-color: brown;
}

#controls {
    background-color: black;
}
</style>
