<div id="container">
    <div id="field">
        <SimulatorField
            ref:field
            bind:odom
            bind:waypoints
            bind:ar_tags
            bind:gates
            bind:rocks
            bind:angle
            bind:target1_id
            bind:target2_id
            bind:ar_tag_state
            bind:obstacle_state
            radius_meters="{{radius}}"
            mode="{{draw_mode}}"
            bind:repeater_dropped
            bind:repeater_loc
            bind:translational_speed
            bind:rotational_speed
            bind:gate_width
            bind:field_of_view
            bind:depth_of_view
            bind:field_of_view_visible/>
    </div>

    <div id="drawmode">
        <div id="sim-field-btns">
            <DrawModeModule
                bind:mode="draw_mode"
                bind:angle
                bind:target1_id
                bind:target2_id
                bind:gate_width/>
            <DebugTools bind:enabled
                        bind:odom
                        bind:paused
                        bind:take_step
                        bind:translational_speed
                        bind:rotational_speed
                        bind:waypoints
                        bind:ar_tags
                        bind:gates
                        bind:rocks
                        bind:repeater_dropped
                        bind:field_of_view
                        bind:depth_of_view
                        bind:field_of_view_visible/>
        </div>

        <div class="radio-signal {{get_radio_strength_class(radio_signal)}}">
            <label id="radio-signal-value" class="tooltip">
                Radio Signal Strength: {{radio_signal}}
                <span class="tooltiptext tooltiptext-below">
                    Between {{RR_MIN}} and {{RR_MAX}}. The threshold for dropping the radio repeater is {{RR_THRESH}}.
                </span>
            </label>
            <input type="number" bind:value="radio_signal_input"
                   on:change="valid_signal_strength()"/>
            <button disabled="{{ !is_valid_signal_strength }}" on:click="update_signal_strength()">
                Update Signal Strength
            </button>
        </div>

        <p><label>
            Field Radius (meters):
            <input type="number" bind:value="radius"/>
        </label></p>
        <p>
            <label>Upload: </label>
            <input id="files" name="files[]" type="file"/>
        </p>
        <p>
            <label>Download: </label>
            <input type="text" class="form-control" id="input-filename" value="textFile" placeholder="Enter file name">
            <input type="button" id="dwn-btn" value="Download"/>
        </p>

    </div>

    <div id="sidebar">
        <div class="display" id="odom_display">
            <h2>Odometry</h2>
            <p><b>Latitude:</b> {{ odom.latitude_deg }}&#176; {{ latitude_min_display }}'</p>
            <p><b>Longitude:</b> {{ odom.longitude_deg }}&#176; {{ longitude_min_display }}'</p>
            <p><b>Bearing:</b> {{ odom.bearing_deg }}</p>
        </div>

        <div class="display" id="joystick_display">
            <h2>Joystick</h2>
            {{#if lcm_connected}}
            <p><b>Translational:</b> {{ forward_back }}</p>
            <p><b>Rotational:</b> {{ left_right }}</p>
            {{/if}}
        </div>

        <div class="display" id="controls">
            <p>
                <label>
                    <input type="checkbox" bind:checked="enabled">
                    Autonomy On?
                </label>
            </p>

            <p>
                <label>
                    <input type="checkbox" bind:checked="cv_enabled">
                    Computer Vision?
                </label>
            </p>

            {{#if lcm_connected}}
            <p><b>Navigation State:</b> {{ nav_state_name }}</p>
            <p><b>Completed Waypoints:</b> {{ completed_wps }}/{{ total_wps }}</p>
            {{else}}
            <p>LCM not connected.</p>
            {{/if}}
        </div>

        {{#each waypoints as waypoint, i}}
        <div class="display waypoint_display">
            <SimulatedItemDisplay
                           title="Waypoint {{ i }}"
                           item="{{ waypoint }}"
                           rover="{{ odom }}"
                           on:click='splice("waypoints", i, 1)'>
                <p>
                    <input type="checkbox" id="search_checkbox_{{ i }}" bind:checked="waypoint.search">
                    <label for="search_checkbox_{{ i }}">Search?</label>
                    <input type="checkbox" id="gate_checkbox_{{ i }}" bind:checked="waypoint.gate">
                    <label for="gate_checkbox_{{ i }}">Gate?</label>
                    <label>ID: {{waypoint.id}}</label>
                </p>
            </SimulatedItemDisplay>
        </div>
        {{/each}}

        {{#each ar_tags as ar_tag, i}}
        <div class="display target_display">
            <SimulatedItemDisplay
                            title="Target {{ ar_tag[0].id }}"
                            item="{{ ar_tag[0] }}"
                            rover="{{ odom }}"
                            on:click='splice("ar_tags", i, 1)'>
                {{#if ar_tag[0].detected}}
                <b>
                Found the Target!
                </b>
                {{/if}}
            </SimulatedItemDisplay>
        </div>
        {{/each}}

        {{#each gates as gate, i}}
        <div class="display gate_display">
            <div class="{{get_gate_post_class(gate[0].id)}}">
            <SimulatedItemDisplay
                            title="Gate Post {{ gate[0].id }}"
                            item="{{ gate[0] }}"
                            rover="{{ odom }}"
                            on:click='splice("gates", i, 1)'>
                {{#if gate[0].detected && gate[1].detected}}
                <b>
                    Found the Gate!
                </b>
                {{/if}}
                {{#if gate[0].detected && !gate[1].detected}}
                <b>
                    Found the Post!
                </b>
                {{/if}}
            </SimulatedItemDisplay>
            </div>

            <div class="{{get_gate_post_class(gate[1].id)}}">
            <SimulatedItemDisplay
                            title="2Gate Post {{ gate[1].id }}"
                            item="{{ gate[1] }}"
                            rover="{{ odom }}"
                            on:click='splice("gates", i, 1)'>
                {{#if gate[0].detected && gate[1].detected}}
                <b>
                    Found the Gate!
                </b>
                {{/if}}
                {{#if !gate[0].detected && gate[1].detected}}
                <b>
                    Found the Post!
                </b>
                {{/if}}
            </SimulatedItemDisplay>
            </div>

        </div>
        {{/each}}

        {{#each rocks as rock, i}}
        <div class="display rock_display">
            <SimulatedItemDisplay
                title="Rock {{ i }}"
                item="{{ rock }}"
                rover="{{ odom }}"
                on:click='splice("rocks", i, 1)'>
            </SimulatedItemDisplay>
        </div>
        {{/each}}
    </div>

    <script>
        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        }

    </script>
</div>

<script>
    import _ from 'lodash';
    import fnv from 'fnv-plus';
    import { splice } from 'svelte-extras';

    // Import custom logic
    import { WAYPOINT_MODE,
             MIN_RADIO_SIGNAL_STRENGTH, MAX_RADIO_SIGNAL_STRENGTH,
             RADIO_REPEATER_THRESHOLD } from "../constants.js";
    import { to_dms } from '../geography.js';

    // Import custom components
    import DebugTools from './DebugTools.html'
    import DrawModeModule from './DrawModeModule.html';
    import SimulatedItemDisplay from './SimulatedItemDisplay.html';
    import SimulatorField from './SimulatorField.html';

    const NUM_DIGITS = 7;
    let app;

    export default {
        oncreate() {
            document.getElementById('files').addEventListener('change', this.handleFileSelect);
            document.getElementById('dwn-btn').addEventListener('click', this.handleDownloadTest);
            app = this;
        },

        data () {
            return {
                draw_mode: WAYPOINT_MODE,

                odom: Object.assign({}, to_dms({
                    lat: 39.4,
                    lon: -110.5
                }), { bearing_deg: 0 }),

                forward_back: 0,
                left_right: 0,

                waypoints: [],
                ar_tags: [],
                gates: [],
                rocks: [],

                radio_signal: MAX_RADIO_SIGNAL_STRENGTH,
                radio_signal_input: RADIO_REPEATER_THRESHOLD - 1,
                is_valid_signal_strength: true,
                repeater_dropped: false,
                repeater_loc: {},
                RR_MIN: MIN_RADIO_SIGNAL_STRENGTH,
                RR_MAX: MAX_RADIO_SIGNAL_STRENGTH,
                RR_THRESH: RADIO_REPEATER_THRESHOLD,

                radius: 25,

                angle: 0,
                target1_id: -1,
                target2_id: 5,
                gate_width: 3, // meters

                test: "<name>",

                ar_tag_state: {
                    detected: false,
                    distance: -1,
                    bearing: 0,
                },

                obstacle_state: {
                    detected: false,
                    bearing: 0,
                    distance: 0
                },

                lcm_connected: false,

                nav_state_name: "Off",
                completed_wps: 0,
                total_wps: 0,

                enabled: false,
                cv_enabled: true,

                paused: false,
                take_step: false,
                translational_speed: 1,
                rotational_speed: 2,
                field_of_view: 110,
                depth_of_view: 3,
                field_of_view_visible: false
            }
        },

        computed: {
            latitude_min_display: (odom) => odom.latitude_min.toFixed(NUM_DIGITS),
            longitude_min_display: (odom) => odom.longitude_min.toFixed(NUM_DIGITS),
        },

        methods: {
            handleFileSelect: function(event) {
                var files = event.target.files;
                var fname = files[0].name;
                var reader = new FileReader();
                reader.readAsText(files[0]);
                reader.onload = ((theFile) => {
                    return (e) => {
                        var inputData = e.target.result;
                        var testCaseData = JSON.parse(inputData);
                        app.set(testCaseData);
                    };
                })(files[0]);
            },

            handleDownloadTest: function(event) {
                var test_case_data = JSON.stringify({ waypoints: app._state.waypoints,
                                                      rocks: app._state.rocks,
                                                      ar_tags: app._state.ar_tags,
                                                      gates: app._state.gates },
                                                    null,
                                                    4)
                var filename = document.getElementById('input-filename').value + ".json";
                download(filename, test_case_data);
            },

            apply_joystick: function(stick) {
                if (!this.get('paused') || this.get('take_step')) {
                    this.set({
                        take_step: false,
                        forward_back: stick.forward_back,
                        left_right: stick.left_right,
                    });

                    this.refs.field.apply_joystick(stick);
                }
            },

            update_signal_strength: function() {
                this.set({
                    radio_signal: this.get("radio_signal_input")
                });
            },

            valid_signal_strength: function() {
                this.set({
                    is_valid_signal_strength: this.get("radio_signal_input") >= MIN_RADIO_SIGNAL_STRENGTH &&
                                              this.get("radio_signal_input") <= MAX_RADIO_SIGNAL_STRENGTH
                });
            },

            drop_radio_repeater: function() {
                if (!this.get('repeater_dropped')) {
                    // Wait 2 seconds, then 'drop' repeater
                    setTimeout(function() {
                        app.set({
                            radio_signal: MAX_RADIO_SIGNAL_STRENGTH,
                            repeater_dropped: true,
                            repeater_loc: app.get('odom')
                        });

                        // start firing drop complete LCM
                        setInterval(() => {
                            app.fire("rr_drop_complete", {});
                        }, 100);
                    } , 2000);
                }
            },

            start_odom_events: function() {
                window.setInterval(() => {
                    this.fire("auton", {
                        is_auton: this.get('enabled')
                    });
                    const odom = this.get("odom");
                    this.fire("imu", {
                        bearing: odom.bearing_deg
                    });
                    this.fire("gps", {
                        latitude_deg: odom.latitude_deg|0,
                        latitude_min: odom.latitude_min,
                        longitude_deg: odom.longitude_deg|0,
                        longitude_min: odom.longitude_min,
                        bearing_deg: odom.bearing_deg
                    });
                    this.fire("sensorPackage", {
                        latitude_deg: odom.latitude_deg|0,
                        latitude_min: odom.latitude_min,
                        longitude_deg: odom.longitude_deg|0,
                        longitude_min: odom.longitude_min,
                        bearing: odom.bearing_deg,
                        speed: 0
                    });
                    const waypoints = this.get('waypoints');
                    let course = {
                        num_waypoints: waypoints.length,
                        waypoints: _.map(waypoints, (waypoint) => {
                            return {
                                type: "Waypoint",
                                search: waypoint.search,
                                gate: waypoint.gate,
                                id: waypoint.id,
                                odom: {
                                    latitude_deg: waypoint.latitude_deg|0,
                                    latitude_min: waypoint.latitude_min,
                                    longitude_deg: waypoint.longitude_deg|0,
                                    longitude_min: waypoint.longitude_min,
                                    bearing_deg: 0,
                                    speed: -1,
                                    type: "Odometry"
                                }
                            }
                        })
                    };

                    course.hash = fnv.fast1a52(JSON.stringify(course));
                    this.fire("course", course);

                    this.fire("radio", {
                        signal_strength: this.get('radio_signal')
                    });

                    if (this.get("cv_enabled")) {
                        const targets = this.get("ar_tag_state");

                        let target_list = {
                            targetList: _.map(targets, (target) => {
                                return {
                                    type: "Target",
                                    bearing: target.bearing,
                                    distance: target.distance,
                                    id: target.id,
                                }
                            })
                        };
                        this.fire("target_list", target_list);

                        let obstacle_state = this.get("obstacle_state");
                        this.fire("obstacle", obstacle_state);
                    }
                }, 100);
            },
            splice
        },

        helpers: {
            get_radio_strength_class: function(radio_signal) {
                if (radio_signal < RADIO_REPEATER_THRESHOLD) {
                    return 'radio-signal-weak';
                }
                return 'radio-signal-strong';
            },

            get_gate_post_class: function(id) {
                if (id % 2) {
                    return 'gate2_display';
                }
                return 'gate1_display';
            }
        },

        components: {
            SimulatorField,
            DebugTools,
            DrawModeModule,
            SimulatedItemDisplay
        }
    }
</script>

<style>
#container {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 600px 1fr;
    grid-template-areas: "canvas sidebar"
                         "drawmode sidebar";
    grid-gap: 5px;
}

#field {
    grid-area: canvas;
    background-color: tan;
}

#sidebar {
    grid-area: sidebar;
}

#drawmode {
    grid-area: drawmode;
}

div + div {
    margin-top: 10px;
}

.display {
    color: white;
    padding: 5px;
}

.display * {
    margin: 0px;
}

#odom_display {
    background-color: darkred;
}

#joystick_display {
    background-color: darkblue;
}

.waypoint_display {
    background-color: darkgreen;
}

.target_display {
    color: black;
    background-color: violet;
}

.gate_display {
    padding: 0;
    color: black;
}

.gate1_display {
    background: lightblue;
    padding: 5px;
}

.gate2_display {
    background: yellow;
    padding: 5px;
}

.rock_display {
    background-color: sienna;
}

#controls {
    background-color: black;
}

#sim-field-btns {
    display: inline-block;
    width: 100%;
}

.radio-signal * {
    display: inline-block;
}

#radio-signal-value {
    width: 200px;
}

.radio-signal-weak {
    background: salmon;
}

.radio-signal-strong {
    background: lightgreen;
}

.tooltip {
    position: relative;
    padding: 10px 0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltiptext-below {
    top: 75%;
    left: 50%;
    margin-left: -50%; /* Half of the width, to center the tooltip */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>
