<fieldset id="debug-tools">
    <legend>Debug Tools</legend>
    <button on:click="reset_rover()" id="rover-reset">Reset Rover</button>
    <button on:click="clear_field()">Clear Field</button>
    <br>
    <button on:click="play_pause()" id="play-pause">
        {{#if paused}}Play{{else}}Pause{{/if}}
    </button>
    <button on:click="take_step()" disabled="{{!paused}}">Step</button>
    <br>
    <div>
        <label>Translational Speed: {{translational_speed}}</label>
        <br>
        <input id="transl-slider" type="range" bind:value="translational_speed" min="0" step="0.5" max="5"/>
    </div>
    <br>
    <div>
        <label>Rotational Speed: {{rotational_speed}}</label>
        <br>
        <input id="rotate-slider" type="range" bind:value="rotational_speed" min="0" step="0.5" max="5"/>
    </div>
</fieldset>

<style type="text/css">
#debug-tools {
    float: right;
    border-radius: 10px;
    width: 200px;
}

#rotate-slider {
    width: 100%;
}

#transl-slider {
    width: 100%;
}

button {
    width: 80px;
}
</style>

<script type="text/javascript">
    import { to_dms } from '../geography.js';

    export default {
        methods: {
            reset_rover: function() {
                this.set({
                    odom: Object.assign({}, to_dms({
                            lat: 39.4,
                            lon: -110.5
                        }),
                        { bearing_deg: 0 }),
                    enabled: false
                });
            },

            clear_field: function() {
                this.set({
                    waypoints: [],
                    ar_tags: [],
                    gates: [],
                    rocks: [],
                    repeater_dropped: false
                });
            },

            play_pause: function() {
                let odom = this.get("odom");
                // Force the state machine to start again
                // CUATION: This is based on how the state machine
                // decided to run a loop when odom data has changed
                odom.latitude_min += 0.000000001;
                this.set({
                    paused: !this.get('paused'),
                    odom: odom
                });
            },

            take_step: function() {
                let odom = this.get("odom");
                // Force the state machine to start again
                // CUATION: This is based on how the state machine
                // decided to run a loop when odom data has changed
                odom.latitude_min += 0.000000001;
                this.set({
                    take_step: true,
                    odom: odom
                });
            }
        },
    }
</script>
