<div>
    <button disabled="{{ !wp_enabled }}" on:click="selected(WAYPOINT_MODE)">Waypoint</button>
    <button disabled="{{ !rock_enabled }}" on:click="selected(ROCK_MODE)">Rock</button>
    <button disabled="{{ !tag_enabled }}" on:click="selected(AR_TAG_MODE)">AR Tag </button>
    <button disabled="{{ !gate_enabled }}" on:click="selected(GATE_MODE)"> Gate </button>
</div>

<style>
</style>

<script>
import { WAYPOINT_MODE, ROCK_MODE, AR_TAG_MODE, GATE_MODE } from "../constants.js";

export default {
    data () {
        return {
            mode: WAYPOINT_MODE,

            WAYPOINT_MODE,
            ROCK_MODE,
            AR_TAG_MODE,
            GATE_MODE
        };
    },
    computed: {
        wp_enabled: mode => mode != WAYPOINT_MODE,
        rock_enabled: mode => mode != ROCK_MODE,
        tag_enabled: mode => mode != AR_TAG_MODE,
        gate_enabled: mode => mode != GATE_MODE
    },
    methods: {
        selected: function(mode) {
            this.set({ mode });
        }
    }
}
</script>
