<fieldset id="draw-mode-container">
    <legend>Draw Mode</legend>
    <div id="draw-mode-selector">
        <button disabled="{{ !wp_enabled }}" on:click="selected(WAYPOINT_MODE)">Waypoint</button>
        <button disabled="{{ !rock_enabled }}" on:click="selected(ROCK_MODE)">Rock</button>
        <button disabled="{{ !tag_enabled }}" on:click="selected(AR_TAG_MODE)">AR Tag</button>
        <button disabled="{{ !gate_enabled }}" on:click="selected(GATE_MODE)">Gate</button>
    </div>
    <br>
    <div id="draw-mode-options">
        <div class="target-ids">
            <div class="{{gate_enabled && tag_enabled ? 'disabled' : '' }} tooltip-container">
                <label class="tooltip">
                Target 1 ID:
                    {{#if !gate_enabled}}
                    <span class="tooltiptext tooltiptext-below">
                        Even and odd numbered tags correspond to the left and right sides of a gate respectively.
                    </span>
                    {{/if}}
                </label>
                <input disabled="{{gate_enabled && tag_enabled}}" type="number" bind:value="target1_id" min="0"/>
            </div>
            <br>
            <div class="{{gate_enabled ? 'disabled' : '' }} tooltip-container">
                <label class="tooltip">
                Target 2 ID:
                    {{#if !gate_enabled}}
                    <span class="tooltiptext tooltiptext-below">
                        Even and odd numbered tags correspond to the left and right sides of a gate respectively.
                    </span>
                    {{/if}}
                </label>
                <input disabled="{{gate_enabled}}" type="number" bind:value="target2_id" min="0"/>
            </div>
        </div>
        <button disabled="{{gate_enabled}}" on:click="flip_target_ids()">
            Flip Target IDs
        </button>
        <br>
        <div class="{{gate_enabled ? 'disabled' : '' }} tooltip-container">
            <label class="tooltip">
            Gate Angle (degrees):
                {{#if !gate_enabled}}
                <span class="tooltiptext tooltiptext-below">Angle from North</span>
                {{/if}}
            </label>
            <input disabled="{{gate_enabled}}" type="number" bind:value="angle" min="-180" max="360"/>
        </div>
    </div>
</fieldset>

<style>
.disabled * {
    color: lightgray;
}

#draw-mode-container {
    float: left;
    border-radius: 10px;
}

#draw-mode-selector button {
    width: 75px;
}

.tooltip-container {
    position: relative;
    float: left;
    padding: 10px 0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltiptext-below {
    top: 75%;
    left: 50%;
    margin-left: -50%; /* Half of the width, to center the tooltip */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>

<script>
import { WAYPOINT_MODE, ROCK_MODE, AR_TAG_MODE, GATE_MODE } from "../constants.js";

export default {
    data () {
        return {
            mode: WAYPOINT_MODE,

            WAYPOINT_MODE,
            ROCK_MODE,
            AR_TAG_MODE,
            GATE_MODE
        };
    },
    computed: {
        wp_enabled: mode => mode != WAYPOINT_MODE,
        rock_enabled: mode => mode != ROCK_MODE,
        tag_enabled: mode => mode != AR_TAG_MODE,
        gate_enabled: mode => mode != GATE_MODE
    },
    methods: {
        selected: function(mode) {
            this.set({ mode });
        },

        flip_target_ids: function() {
            this.set({
                target1_id: this.get('target2_id'),
                target2_id: this.get('target1_id')
            });
        }
    }
}
</script>
