<div class="simulated-item-display">
    <h2>{{ name }}</h2>
    {{#if closable}}
        <button class="close" on:click="clicked()">x</button>
    {{/if}}
    <div>
        <p>
            <b>Latitude:</b>
            {{ item.latitude_deg }}&#176;
            {{ latitude_min_display }}'
        </p>
        <p>
            <b>Longitude:</b>
            {{ item.longitude_deg }}&#176;
            {{ longitude_min_display }}'
        </p>
        <p>
            <b>Distance from Rover:</b>
            {{ distance }}
        </p>
        <p>
            <b>Bearing from Rover:</b>
            {{ bearing }}
        </p>
        <slot/>
    </div>
</div>

<style>
p {
    margin: 0;
}

h2 {
    margin: 0;
}

.simulated-item-display {
    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-areas: "heading close"
        "body body";
}

.simulated-item-display h2 {
    grid-area: heading;
}

.simulated-item-display button.close {
    grid-area: close;
    border: none;
    padding: 5px;
    background-color: #f44336;
    color: white;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.simulated-item-display button.close:hover {
    color: black;
    background-color: white;
}

.simulated-item-display div {
    grid-area: body;
}
</style>

<script>
import {
    to_decimal,
    dist_and_bearing
} from "../geography.js";
const NUM_DIGITS = 7;
export default {
    computed: {
        latitude_min_display: (item) => item.latitude_min.toFixed(NUM_DIGITS),
        longitude_min_display: (item) => item.longitude_min.toFixed(NUM_DIGITS),

        distance: (rover, item) => {
            const { dist } = dist_and_bearing(
                to_decimal(rover), to_decimal(item));
            return dist.toFixed(3);
        },

        bearing: (rover, item) => {
            const { bearing } = dist_and_bearing(
                to_decimal(rover), to_decimal(item));
            let bearing_from_rover = 180 * bearing / Math.PI;
            bearing_from_rover -= rover.bearing_deg;
            if (bearing_from_rover > 180) bearing_from_rover -= 360;
            if (bearing_from_rover < -180) bearing_from_rover += 360;
            return bearing_from_rover.toFixed(3);
        },

        closable: title => !title.startsWith('2'),

        name: (title) => title.startsWith('2') ? title.slice(1) : title
    },
    methods: {
        clicked: function() {
            this.fire('click');
        }
    }
};
</script>
