<canvas ref:canvas width="600" height="600">
</canvas>

<style>
canvas {
    border: 1px solid black;
}
</style>

<script>
import { 
    to_dms,
    to_decimal,
    dist_and_bearing,
    inv_projection as inv_projection_,
    projection as projection_
} from "../geography.js";
import { WAYPOINT_MODE, ROCK_MODE, TENNIS_BALL_MODE } from "../constants.js";

const EARTH_RAD = 6371000.0;
const ROVER_SIZE = 25;
const VECTOR_SIZE = 20;
const WAYPOINT_SIZE = 10;
const TENNIS_BALL_SIZE = 4;
const ROCK_SIZE = 45;
const ROVER_FIELD_OF_VIEW = 2*Math.PI/3;
const ROVER_DEPTH_OF_VIEW = 10;

const TRANSLATIONAL_SCALE = 2.5;
const ROTATIONAL_SCALE = 5;

function ensure_in_range(x, min, max) {
    return Math.max(Math.min(x, max), min);
}

export default {
    data() {
        return {
            center_lat: 39.4,
            center_lon: -110.5,

            radius_meters: 100,

            odom: null,

            waypoints: [],
            tennis_balls: [],
            rocks: [],

            tennis_ball_state: {
                found: false,
                bearing: 0,
                distance: 0
            },

            mode: WAYPOINT_MODE
        };
    },

    oncreate () {
        const canvas = this.refs.canvas;
        const ctx = canvas.getContext('2d');

        const recompute_tennis_ball_visibility = () => {
            const odom = this.get("odom");
            const scale = this.get("radius_meters");
            const x_scale = canvas.width/(2*scale);
            const y_scale = canvas.height/(2*scale);
            if (!odom) { return; }
            let tennis_balls = this.get("tennis_balls");

            let ball_detected_idx = -1;
            let tennis_ball_state = {
                found: false,
                bearing: 0,
                distance: 0
            };
            for (let i = 0; i < tennis_balls.length; i++) {
                tennis_balls[i].detected = false;

                const { dist, bearing } = dist_and_bearing(
                    to_decimal(odom), to_decimal(tennis_balls[i]));
                const rover_bearing = odom.bearing_deg * Math.PI/180;

                // console.log(`testing a ball at ${dist} meters by ${bearing} radians`);
                if (Math.abs(bearing - rover_bearing) < ROVER_FIELD_OF_VIEW/2 && dist < ROVER_DEPTH_OF_VIEW) {
                    tennis_balls[i].detected = true;
                    ball_detected_idx = i;
                    tennis_ball_state = {
                        found: true,
                        bearing: (bearing - rover_bearing) * 180/Math.PI,
                        distance: dist
                    };

                    break;
                }
            }
            this.set({ tennis_ball_state, tennis_balls });
        };

        const draw = () => {
            const odom = this.get("odom");
            if (!odom) { return; }
            const waypoints = this.get("waypoints");
            const tennis_balls = this.get("tennis_balls");
            const rocks = this.get("rocks");
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            const coords = this.to_canvas(this.projection(to_decimal(odom)));

            ctx.fillStyle = 'darkred';
            ctx.fillRect(coords.x - ROVER_SIZE/2,
                         coords.y - ROVER_SIZE/2,
                         ROVER_SIZE, ROVER_SIZE);

            ctx.strokeStyle = 'darkred';
            ctx.lineWidth = 5;
            ctx.beginPath();
            ctx.moveTo(coords.x, coords.y);
            const bearing = (90 - odom.bearing_deg) * Math.PI / 180;
            ctx.lineTo(coords.x + VECTOR_SIZE*Math.cos(bearing),
                       coords.y - VECTOR_SIZE*Math.sin(bearing));
            ctx.stroke();

            for (let i = 0; i < waypoints.length; i++) {
                const waypoint = waypoints[i];
                const wcoords = this.to_canvas(this.projection(to_decimal(waypoint)));

                ctx.fillStyle = 'darkgreen';
                ctx.strokeStyle = 'black';
                ctx.lineWidth = 1;
                ctx.beginPath();
                ctx.arc(wcoords.x,
                        wcoords.y,
                        WAYPOINT_SIZE, 0, 2*Math.PI, 0);
                ctx.fill();
                ctx.stroke();
                ctx.fillStyle = 'white';
                ctx.fillText(`${i}`, wcoords.x, wcoords.y);
            }

            for (let i = 0; i < tennis_balls.length; i++) {
                const ball = tennis_balls[i];
                const bcoords = this.to_canvas(this.projection(to_decimal(ball)));

                ctx.fillStyle = 'lightgreen';
                ctx.strokeStyle = 'black';
                ctx.lineWidth = 1;
                ctx.beginPath();
                ctx.arc(bcoords.x,
                        bcoords.y,
                        TENNIS_BALL_SIZE, 0, 2*Math.PI, 0);
                ctx.fill();
                ctx.stroke();
            }

            for (let i = 0; i < rocks.length; i++) {
                const rock = rocks[i];
                const rcoords = this.to_canvas(this.projection(to_decimal(rock)));

                ctx.fillStyle = 'brown';
                ctx.beginPath();
                ctx.arc(
                    rcoords.x, rcoords.y-(ROCK_SIZE/4),
                    ROCK_SIZE/2, 0, 2*Math.PI, 0);
                ctx.fill();
                ctx.arc(
                    rcoords.x-((ROCK_SIZE/4)*rock.direction), rcoords.y,
                    ROCK_SIZE/2, 0, 2*Math.PI, 0);
                ctx.fill();
            }
        };

        canvas.addEventListener('click', (e) => {
            e.preventDefault();

            const draw_mode = this.get("mode");

            const rect = canvas.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            const {lat, lon} = this.inv_projection(this.from_canvas({x, y}));

            if (draw_mode === WAYPOINT_MODE) {
                let waypoints = this.get("waypoints");
                waypoints.push(
                    Object.assign({}, to_dms({lat, lon}), { search: false })
                );

                this.set({ waypoints });
            } else if (draw_mode === TENNIS_BALL_MODE) {
                let tennis_balls = this.get("tennis_balls");
                tennis_balls.push(to_dms({lat, lon}));

                this.set({ tennis_balls });
            } else if (draw_mode === ROCK_MODE) {
                let rocks = this.get("rocks");
                let direction = 1;
                if (e.ctrlKey || e.metaKey) {
                    direction = -1;
                }
                rocks.push(Object.assign({}, to_dms({lat, lon}), { direction }));

                this.set({ rocks });
            }
        });

        const update = () => {
            recompute_tennis_ball_visibility();
            draw();
        };

        this.observe("odom", update);
        this.observe("waypoints", update);
        this.observe("tennis_balls", update);
        this.observe("rocks", update);
        this.observe("radius_meters", update);

        update();
    },

    methods: {
        to_canvas: function({x, y}) {
            const canvas = this.refs.canvas;
            const radius = this.get("radius_meters");
            const x_scale = (canvas.width/2)/radius;
            const y_scale = (canvas.height/2)/radius;
            return {
                x: x*x_scale + canvas.width/2,
                y: canvas.height/2 - y*y_scale
            };
        },

        from_canvas: function({x, y}) {
            const canvas = this.refs.canvas;
            const radius = this.get("radius_meters");
            const x_scale = (canvas.width/2)/radius;
            const y_scale = (canvas.height/2)/radius;
            return {
                x: (x - canvas.width/2)/x_scale,
                y: (canvas.height/2 - y)/y_scale
            };
        },

        projection: function(coords) {
            return projection_({
                center_lat: this.get("center_lat"),
                center_lon: this.get("center_lon")
            }, coords);
        },

        inv_projection: function(coords) {
            return inv_projection_({
                center_lat: this.get("center_lat"),
                center_lon: this.get("center_lon")
            }, coords);
        },

        bounds: function() {
            const dist = this.get("radius_meters");
            return {
                max_lat: this.inv_projection({x: 0, y: dist}).lat,
                min_lat: this.inv_projection({x: 0, y: -dist}).lat,
                max_lon: this.inv_projection({x: dist, y:0}).lon,
                min_lon: this.inv_projection({x: -dist, y:0}).lon
            };
        },

        apply_joystick: function(stick) {
            let odom = this.get("odom");
            let {x, y} = this.projection(to_decimal(odom));
            let bearing_deg = odom.bearing_deg;
            bearing_deg += ROTATIONAL_SCALE * stick.left_right;
            if (bearing_deg < 0) {
                bearing_deg += 360;
            }
            if (bearing_deg > 360) {
                bearing_deg -= 360;
            }

            const bearing_rad = (90 - bearing_deg) * Math.PI / 180;

            console.log(`moving in the direction ${bearing_rad} radians`);

            const vel = TRANSLATIONAL_SCALE * stick.forward_back;

            x += vel * Math.cos(bearing_rad);
            y += vel * Math.sin(bearing_rad);

            const {min_lat, max_lat, min_lon, max_lon} = this.bounds();

            let {lat, lon} = this.inv_projection({x, y});
            lat = ensure_in_range(lat, min_lat, max_lat);
            lon = ensure_in_range(lon, min_lon, max_lon);

            odom = Object.assign({}, to_dms({lat, lon}), { bearing_deg });
            this.set({ odom });
        }
    }
}
</script>
