<canvas ref:canvas width="600" height="600">
</canvas>

<style>
canvas {
    border: 1px solid black;
}
</style>

<script>
import {
    to_dms,
    to_decimal,
    dist_and_bearing,
    inv_projection as inv_projection_,
    projection as projection_
} from "../geography.js";
import { WAYPOINT_MODE, ROCK_MODE, TENNIS_BALL_MODE } from "../constants.js";
import _ from 'lodash';

const EARTH_RAD = 6371000.0;
// const ROVER_SIZE = 25;
const ROVER_SIZE_M = 1;
// const VECTOR_SIZE = 20;
const VECTOR_SIZE_M = .75;
const WAYPOINT_SIZE = 10;
const TENNIS_BALL_SIZE = 4;
// const ROCK_SIZE = 25;
const ROCK_SIZE_M = 1.2;
const ROVER_FIELD_OF_VIEW = 2*Math.PI/3;
const ROVER_DEPTH_OF_VIEW = 10;
const CV_DEPTH = 5;

const TRANSLATIONAL_SCALE = -1;
const ROTATIONAL_SCALE = 2;

function ensure_in_range(x, min, max) {
    return Math.max(Math.min(x, max), min);
}

export default {
    data() {
        return {
            center_lat: 39.4,
            center_lon: -110.5,

            radius_meters: 25,

            odom: null,

            waypoints: [],
            tennis_balls: [],
            rocks: [],

            tennis_ball_state: {
                found: false,
                bearing: 0,
                distance: 0
            },

            obstacle_state: {
                detected: false,
                bearing: 0
            },

            mode: WAYPOINT_MODE
        };
    },

    oncreate () {
        const canvas = this.refs.canvas;
        const ctx = canvas.getContext('2d');

        const recompute_tennis_ball_visibility = () => {
            const odom = this.get("odom");
            const scale = this.get("radius_meters");
            const x_scale = canvas.width/(2*scale);
            const y_scale = canvas.height/(2*scale);
            if (!odom) { return; }
            let tennis_balls = this.get("tennis_balls");

            let ball_detected_idx = -1;
            let tennis_ball_state = {
                found: false,
                bearing: 0,
                distance: 0
            };
            for (let i = 0; i < tennis_balls.length; i++) {
                tennis_balls[i].detected = false;

                const { dist, bearing } = dist_and_bearing(
                    to_decimal(odom), to_decimal(tennis_balls[i]));
                const rover_bearing = odom.bearing_deg * Math.PI/180;

                // console.log(`testing a ball at ${dist} meters by ${bearing} radians`);
                if (Math.abs(bearing - rover_bearing) < ROVER_FIELD_OF_VIEW/2 && dist < ROVER_DEPTH_OF_VIEW) {
                    tennis_balls[i].detected = true;
                    ball_detected_idx = i;
                    tennis_ball_state = {
                        found: true,
                        bearing: (bearing - rover_bearing) * 180/Math.PI,
                        distance: dist
                    };

                    break;
                }
            }
            this.set({ tennis_ball_state, tennis_balls });
        };

        const point_in_triangle = (point, crossbar, coords) => {
            const sign = (point, end0, end1) => {
                return (point.x - end1.x) * (end0.y - end1.y) - (end0.x - end1.x) * (point.y - end1.y);
            };

            const b0 = sign(point, {x: crossbar.x1, y: crossbar.y1}, {x: crossbar.x2, y: crossbar.y2}) < 0;
            const b1 = sign(point, {x: crossbar.x2, y: crossbar.y2}, coords) < 0;
            const b2 = sign(point, coords, {x: crossbar.x1, y: crossbar.y1}) < 0;

            return (b0 == b1) && (b1 == b2);
        };

        const get_triangle = (scale, odom) => {
            // const rock_radius = ROCK_SIZE/scale;
            const rock_radius = ROCK_SIZE_M;
            const coords = this.projection(to_decimal(odom));
            // const root_2 = Math.sqrt(2);
            const h =  rock_radius * Math.sin(Math.PI - ROVER_FIELD_OF_VIEW) / Math.sin(ROVER_FIELD_OF_VIEW / 2);
            const theta_r = odom.bearing_deg * Math.PI / 180;
            const x_0 = coords.x - h * Math.sin(theta_r); // switched sign
            const y_0 = coords.y - h * Math.cos(theta_r); // switched sign
            const x_c = coords.x + (CV_DEPTH + rock_radius) * Math.sin(theta_r);
            const y_c = coords.y + (CV_DEPTH + rock_radius) * Math.cos(theta_r);
            // d = smaller triangle d + extension
            let d = CV_DEPTH * Math.tan(ROVER_FIELD_OF_VIEW / 2);
            const alpha = (180 - ROVER_FIELD_OF_VIEW) / 2;
            const h_prime = rock_radius * Math.sin(Math.PI - alpha) / Math.sin(alpha / 2);
            const delta_d = Math.sqrt(h_prime * h_prime - rock_radius * rock_radius);
            d += delta_d;
            const crossbar = {
                x1: x_c - d * Math.cos(theta_r),
                y1: y_c + d * Math.sin(theta_r),
                x2: x_c + d * Math.cos(theta_r),
                y2: y_c - d * Math.sin(theta_r)
            };

            return { x_0, y_0, crossbar, x_c, y_c };
        };

        const find_occupied = (odom, rcoords, occupied_angles, rock_radius) => {
            const pos = this.projection(to_decimal(odom));
            const delta_x = rcoords.x - pos.x;
            const delta_y = rcoords.y - pos.y;
            const d = Math.sqrt(delta_x * delta_x + delta_y * delta_y);
            const beta = Math.atan2(Math.abs(delta_x), Math.abs(delta_y)) * 180 / Math.PI;
            const gamma = Math.atan2(rock_radius, d) * 180 / Math.PI;
            let alpha;

            if (delta_x > 0 && delta_y > 0) {
                alpha = beta - odom.bearing_deg;
            } // quadrant I

            else if (delta_x < 0 && delta_y > 0) {
                alpha = (360 - odom.bearing_deg) - beta;
            } // quadrant II

            else if (delta_x < 0 && delta_y < 0) {
                alpha = beta - (odom.bearing_deg - 180);
            } // quadrant III

            else if (delta_x > 0 && delta_y < 0) {
                alpha = (180 - odom.bearing_deg) - beta;
            } // quadrant IV

            else if (!delta_x) {
                alpha = beta;
            } // y-axis (or origin)

            else {
                alpha = 90 - beta;
            } // x-axis

            const phi_1 = alpha - gamma + ROVER_FIELD_OF_VIEW / 2 * 180 / Math.PI;
            const phi_2 = alpha + gamma + ROVER_FIELD_OF_VIEW / 2 * 180 / Math.PI;
            occupied_angles.fill(true, phi_1, phi_2);
            console.log(`occupied_angles delta_x delta_y odom.x rcoords.x: ${delta_x} ${delta_y} ${pos.x} ${rcoords.x}`);
            console.log(`occupied_angles odom_deg beta alpha and gamma: ${odom.bearing_deg} ${beta} ${alpha} ${gamma}`);
            console.log(`occupied_angles ends: ${phi_1} ${phi_2}`);
        };

        const recompute_obstacle_visibility = () => {
            const odom = this.get("odom");
            const scale = this.get("radius_meters");
            /*const rock_radius = ROCK_SIZE / scale;
            const x_scale = canvas.width/(2*scale);
            const y_scale = canvas.height/(2*scale);*/
            if (!odom) { return; }
            let rocks = this.get("rocks");
            const {x_0, y_0, crossbar} = get_triangle(scale, odom);
            // Filter out objects outside the "larger triangle"
            const filtered_rocks = _.filter(rocks, (rock) => {
                const rcoords = this.projection(to_decimal(rock));
                return point_in_triangle(rcoords, crossbar, {x: x_0, y: y_0});
            });

            console.log(`Can see ${filtered_rocks.length} rocks`);
            if (filtered_rocks.length > 0) {
                console.log(filtered_rocks);
            }

            let occupied_angles = new Array(120);
            occupied_angles.fill(false);
            for (let i = 0; i < filtered_rocks.length; i++) {
                find_occupied(odom, this.projection(to_decimal(filtered_rocks[i])), occupied_angles, ROCK_SIZE_M);
            }

            // can we move straight ahead
            // const rover_width = ROVER_SIZE / scale;
            const rover_width = ROVER_SIZE_M;
            let path_clear = true;
            const clearance_angle = Math.atan2(rover_width, CV_DEPTH) * 180 / Math.PI;
            console.log(`clearance_angle: ${clearance_angle}`);
            for (let i = 60 - clearance_angle|0; i < 60 + clearance_angle|0; ++i) {
            // for (let i = 0; i < 120; ++i) {
                if (occupied_angles[i]) path_clear = false;
            }

            // debugger;
            console.log(`path clear: ${path_clear}`);
            let obstacle_state = {
                detected: false,
                bearing: 0
            };
            if (!path_clear) {
                // Returns 1 if the rover should turn right, 0 if it should turn left to avoid the obstacle.
                const turn_direction = (occupied_angles) => {
                    let occupied_right = 0;
                    let occupied_left = 0;
                    for (let i = 0; i < occupied_angles.length/2; ++i) {
                        if (occupied_angles[i]) ++occupied_left;
                    }
                    for (let i = occupied_angles.length/2; i < occupied_angles.length; ++i) {
                        if (occupied_angles[i]) ++occupied_right;
                    }
                    return occupied_right > occupied_left ? false : true;
                };

                if (turn_direction(occupied_angles)) {
                    obstacle_state = {
                        detected: true,
                        bearing: 45
                    };
                }
                else {
                    obstacle_state = {
                        detected: true,
                        bearing: -45
                    };
                }
            }

            this.set({ obstacle_state });

        };

        const draw_triangle = (odom) => {
            // TODO temporary debug code
            const {x_0, y_0, crossbar, x_c, y_c} = get_triangle(this.get("radius_meters"), odom);
            const va = this.to_canvas({x: x_0, y: y_0});
            const vb = this.to_canvas({x: crossbar.x1, y: crossbar.y1});
            const vc = this.to_canvas({x: crossbar.x2, y: crossbar.y2});
            const center = this.to_canvas({x: x_c, y: y_c});

            ctx.strokeStyle = 'lightblue';
            ctx.lineWidth = 2;
            ctx.beginPath();
            ctx.moveTo(va.x, va.y);
            ctx.lineTo(vb.x, vb.y);
            ctx.lineTo(vc.x, vc.y);
            ctx.lineTo(va.x, va.y);
            // ctx.lineTo(center.x, center.y);
            ctx.stroke();
        };

        const draw = () => {
            const odom = this.get("odom");
            if (!odom) { return; }
            const waypoints = this.get("waypoints");
            const tennis_balls = this.get("tennis_balls");
            const rocks = this.get("rocks");
            const radius = this.get("radius_meters");
            const x_scale = (canvas.width/2)/radius;
            const y_scale = (canvas.height/2)/radius;
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            const coords = this.to_canvas(this.projection(to_decimal(odom)));

            const rover_size_x = ROVER_SIZE_M*x_scale;
            const rover_size_y = ROVER_SIZE_M*y_scale;

            ctx.fillStyle = 'darkred';
            ctx.fillRect(coords.x - rover_size_x/2,
                         coords.y - rover_size_y/2,
                         rover_size_x, rover_size_y);

            ctx.strokeStyle = 'darkred';
            ctx.lineWidth = 5;
            ctx.beginPath();
            ctx.moveTo(coords.x, coords.y);
            const bearing = (90 - odom.bearing_deg) * Math.PI / 180;
            ctx.lineTo(coords.x + VECTOR_SIZE_M*x_scale*Math.cos(bearing),
                       coords.y - VECTOR_SIZE_M*y_scale*Math.sin(bearing));
            ctx.stroke();

            // draw_triangle(odom);

            for (let i = 0; i < waypoints.length; i++) {
                const waypoint = waypoints[i];
                const wcoords = this.to_canvas(this.projection(to_decimal(waypoint)));

                ctx.fillStyle = 'darkgreen';
                ctx.strokeStyle = 'black';
                ctx.lineWidth = 1;
                ctx.beginPath();
                ctx.arc(wcoords.x,
                        wcoords.y,
                        WAYPOINT_SIZE, 0, 2*Math.PI, 0);
                ctx.fill();
                ctx.stroke();
                ctx.fillStyle = 'white';
                ctx.fillText(`${i}`, wcoords.x, wcoords.y);
            }

            for (let i = 0; i < tennis_balls.length; i++) {
                const ball = tennis_balls[i];
                const bcoords = this.to_canvas(this.projection(to_decimal(ball)));

                ctx.fillStyle = 'lightgreen';
                ctx.strokeStyle = 'black';
                ctx.lineWidth = 1;
                ctx.beginPath();
                ctx.arc(bcoords.x,
                        bcoords.y,
                        TENNIS_BALL_SIZE, 0, 2*Math.PI, 0);
                ctx.fill();
                ctx.stroke();
            }

            for (let i = 0; i < rocks.length; i++) {
                const rock = rocks[i];
                const rcoords = this.to_canvas(this.projection(to_decimal(rock)));


                ctx.fillStyle = 'brown';
                ctx.beginPath();
                ctx.arc(
                    rcoords.x, rcoords.y,
                    ROCK_SIZE_M * x_scale, 0, 2*Math.PI, 0);
                ctx.fill();
            }
        };

        canvas.addEventListener('click', (e) => {
            e.preventDefault();

            const draw_mode = this.get("mode");

            const rect = canvas.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            const {lat, lon} = this.inv_projection(this.from_canvas({x, y}));

            if (draw_mode === WAYPOINT_MODE) {
                let waypoints = this.get("waypoints");
                waypoints.push(
                    Object.assign({}, to_dms({lat, lon}), { search: false })
                );

                this.set({ waypoints });
            } else if (draw_mode === TENNIS_BALL_MODE) {
                let tennis_balls = this.get("tennis_balls");
                tennis_balls.push(to_dms({lat, lon}));

                this.set({ tennis_balls });
            } else if (draw_mode === ROCK_MODE) {
                let rocks = this.get("rocks");
                rocks.push(to_dms({lat, lon}));

                this.set({ rocks });
            }
        });

        const update = () => {
            recompute_tennis_ball_visibility();
            recompute_obstacle_visibility();
            draw();
        };

        this.observe("odom", update);
        this.observe("waypoints", update);
        this.observe("tennis_balls", update);
        this.observe("rocks", update);
        this.observe("radius_meters", update);

        update();
    },

    methods: {
        to_canvas: function({x, y}) {
            const canvas = this.refs.canvas;
            const radius = this.get("radius_meters");
            const x_scale = (canvas.width/2)/radius;
            const y_scale = (canvas.height/2)/radius;
            return {
                x: x*x_scale + canvas.width/2,
                y: canvas.height/2 - y*y_scale
            };
        },

        from_canvas: function({x, y}) {
            const canvas = this.refs.canvas;
            const radius = this.get("radius_meters");
            const x_scale = (canvas.width/2)/radius;
            const y_scale = (canvas.height/2)/radius;
            return {
                x: (x - canvas.width/2)/x_scale,
                y: (canvas.height/2 - y)/y_scale
            };
        },

        projection: function(coords) {
            return projection_({
                center_lat: this.get("center_lat"),
                center_lon: this.get("center_lon")
            }, coords);
        },

        inv_projection: function(coords) {
            return inv_projection_({
                center_lat: this.get("center_lat"),
                center_lon: this.get("center_lon")
            }, coords);
        },

        bounds: function() {
            const dist = this.get("radius_meters");
            return {
                max_lat: this.inv_projection({x: 0, y: dist}).lat,
                min_lat: this.inv_projection({x: 0, y: -dist}).lat,
                max_lon: this.inv_projection({x: dist, y:0}).lon,
                min_lon: this.inv_projection({x: -dist, y:0}).lon
            };
        },

        apply_joystick: function(stick) {
            let odom = this.get("odom");
            let {x, y} = this.projection(to_decimal(odom));
            let bearing_deg = odom.bearing_deg;
            bearing_deg += ROTATIONAL_SCALE * stick.left_right;
            if (bearing_deg < 0) {
                bearing_deg += 360;
            }
            if (bearing_deg > 360) {
                bearing_deg -= 360;
            }

            const bearing_rad = (90 - bearing_deg) * Math.PI / 180;

            console.log(`moving in the direction ${bearing_rad} radians`);

            const vel = TRANSLATIONAL_SCALE * stick.forward_back;

            x += vel * Math.cos(bearing_rad);
            y += vel * Math.sin(bearing_rad);

            const {min_lat, max_lat, min_lon, max_lon} = this.bounds();

            let {lat, lon} = this.inv_projection({x, y});
            lat = ensure_in_range(lat, min_lat, max_lat);
            lon = ensure_in_range(lon, min_lon, max_lon);

            odom = Object.assign({}, to_dms({lat, lon}), { bearing_deg });
            this.set({ odom });
        }
    }
}
</script>
