.vs/
.vscode/
build/
.vagrant/
*.out
.bash_history
.cache
.mrover
.node-gyp
.DS_Store
**/node_modules/
*.dat
output.log
base_station/gui/src/static/map
base_station/gui/src/static/map.zip
base_station/download_map/src/keys.json
/core.*
jetson/test**
beaglebone/test**
