# Files owned by Perception
/jetson/percep/             @mmartin4972
/config/percep/             @mmartin4972
/rover_msgs/Obstacle.lcm    @mmartin4972
/rover_msgs/TargetList.lcm  @mmartin4972
/rover_msgs/Target.lcm      @mmartin4972
