[Unit]
Description=MRover Onboard Teleop
Requires=rover-hwi.service
After=rover-hwi.service

[Service]
EnvironmentFile=/etc/default/rover.env
ExecStart={{ workspace_dir }}/jarvis exec onboard_teleop
