[Unit]
Description=MRover Onboard Servo

[Service]
EnvironmentFile=/etc/default/rover.env
Environment=MROVER_SSC32_PORT=/dev/ssc32
User={{ running_user }}
ExecStart={{ workspace_dir }}/jarvis exec onboard_servo

[Install]
WantedBy=multi-user.target