[Unit]
Description=gstreamer video
After=systemd-modules-load.service
After=network-online.target

[Service]
EnvironmentFile=/etc/default/pi.env
User={{ running_user }}
ExecStart={{ workspace_dir }}/jarvis exec pi_zeroes_video {{ num }}
Restart=always

[Install]
WantedBy=multi-user.target
