[Unit]
Description=UV4L Streaming Service
After=systemd-modules-load.service

[Service]
User={{ running_user }}
ExecStart=/usr/bin/uv4l -f --auto-video_nr --driver raspicam --width 1280 --height 720 --encoding h264 --server-option '--port=9000'

[Install]
WantedBy=multi-user.target
