[Unit]
Description=MRover Onboard Science Controls

[Service]
EnvironmentFile=/etc/default/rover.env
User={{ running_user }}
ExecStart={{ workspace_dir }}/jarvis exec jetson_science_controls
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
