[Unit]
Description=MRover Onboard Kinematics

[Service]
EnvironmentFile=/etc/default/rover.env
User={{ running_user }}
ExecStart={{ workspace_dir }}/jarvis exec jetson_kinematics
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
