[Unit]
Description=MRover Onboard Sensor Package Interface

[Service]
EnvironmentFile=/etc/default/rover.env
Environment=HOME={{ home_dir }}
ExecStart={{ workspace_dir }}/jarvis exec jetson_sensor_package
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
