[Unit]
Description=MRover Onboard Autonomy Light

[Service]
EnvironmentFile=/etc/default/rover.env
Environment=HOME={{ home_dir }}
ExecStart={{ workspace_dir }}/jarvis exec jetson_auton_light
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
