[Unit]
Description=MRover Base Station GUI

[Service]
User={{ user }}
EnvironmentFile=/etc/default/rover.env
ExecStart={{ workspace_dir }}/jarvis exec base_station_gui

[Install]
WantedBy=multi-user.target
