[Unit]
Description=MRover LCM Bridge Server

[Service]
User={{ user }}
EnvironmentFile=/etc/default/rover.env
ExecStart={{ workspace_dir }}/jarvis exec lcm_bridge_server
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
