[Unit]
Description=MRover Base Station Logging Service

[Service]
User={{ user }}
EnvironmentFile=/etc/default/rover.env
ExecStart={{ workspace_dir }}/jarvis exec base_station_logging_server
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
