<div class="wrapper">
    <div class="box header">
        <img src="/static/mrover.png"
             alt="MRover"
             title="MRover"
             width="48" height="48"/>
        <h1>Dashboard</h1>
        <div class="spacer"></div>
        <div class="comms">
            <CommIndicator connected="{{websocket_connected}}"
                           name="WS"/>
            <CommIndicator connected="{{lcm_connected}}"
                           name="LCM"/>
        </div>
    </div>

    <!-- <div class="box video">
        Video goes here
    </div> -->

    <div class="box odom">
        Current odometry reading:
        {{ odom.latitude_deg }} by {{ odom.longitude_deg }}
        bearing {{ odom.bearing_deg }}
    </div>
    <div class="box diags">
        <div class="box">
            <p style="text-align:left;">
                Temperature:
                <span style="float:right;">{{diags.temperature}}ºC</span>
            </p>
            
        </div>
        <div class="box">
            <p style="text-align:left;">
                Moisture:
                <span style="float:right;">{{diags.moisture}}</span>
            </p>
        </div>
        <div class="box">
            <p style="text-align:left;">
                pH:
                <span style="float:right;">{{diags.pH}}</span>
            </p>
        </div>
        <div class="box">
            <p style="text-align:left;">
                Soil Conductivity:
                <span style="float:right;">{{diags.soil_conductivity}} μS/cm</span>
            </p>
        </div>
        <div class="box">
            <p style="text-align:left;">
                UV:
                <span style="float:right;">{{diags.uv}} µmoles/m<sup>2</sup>/s</span>
            </p>
        
        </div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="box map">
        Map goes here
    </div>
    <div class="box waypoints">
        Manage Waypoints here
    </div>
    <div class="box saveGPS">
        Save current GPS here
    </div>
    <div class="box motors">
        Display motor info here
    </div>
</div>

<style>
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 3fr 2fr 3fr 60px 60px;
    grid-template-areas:
        "header header"
        "map diags"
        "map motors"
        "map waypoints"
        "saveGPS waypoints"
        "odom waypoints";

    font-family: Cantarell sans;
    height: 100%;
}

.box {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
}

img {
    border: none;
    border-radius: 0px;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
}

.header h1 {
    margin-left: 5px;
}

.spacer {
    flex-grow: 1;
}

.comms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comms * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.video {
    grid-area: video;
}

.odom {
    grid-area: odom;
    font-size: 2em;
}

.diags {
    grid-area: diags;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.map {
    grid-area: map;
}
.motors {
    grid-area: motors;
}
.waypoints {
    grid-area: waypoints;
}
.saveGPS {
    grid-area: saveGPS;
    font-size: 2em;
}
</style>

<script>
import CommIndicator from './CommIndicator.html'

export default {
    data() {
        return {
            websocket_connected: false,
            lcm_connected: false,
            odom: {
                latitude_deg: 0,
                longitude_deg: 0,
                bearing_deg: 0
            },
            diags:{
                temperature: 200,
                moisture: -1,
                pH: 1,
                soil_conductivity: -10,
                uv: 8
            }
        }
    },

    methods: {
        lcm_message_recv: function({topic, message}) {
            if (topic === '/odom') {
                this.set({
                    odom: message
                })
            }
        }
    },

    components: {
        CommIndicator
    }
}
</script>
