<div class="wrap">
    <div class="box">
        <Checkbox name="Recording" key=82 ref:recordingBox/>
    </div>
    <div class="box"></div>

    {{#each sensor_data as sensor}}
        <div class="box">
            <p>
                {{sensor["name"]}}:
                <span>{{sensor["value"].toFixed(2)}}{{sensor["unit"]}}</span>
            </p>
        </div>
    {{/each}}
    
    {{#if sensor_data.length%2==1}}
        <div class="box"/>
    {{/if}}

</div>



<script>
  import Checkbox from './Checkbox.html'

  export default {
    oncreate() {
        this.refs.recordingBox.observe('toggled', (isToggled)=>{
            this.fire("sensor_switch", isToggled);
        });
    },

    components: {
      Checkbox
    }
  }
</script>

<style>
.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 35px 35px 35px;
}

.white-text{
    color: white;
}

.box {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}

p {
    margin: 0px;
    font-size: 1rem;
    margin-top: 5px;
    text-align: left;
}

span{
    float: right;
}
</style>
