<div class="wrapper">
  <!-- Map goes here -->

  <div class="map" ref:map></div>

</div>

<script>
  import L from 'leaflet';
  import Marker from 'leaflet-rotatedmarker';

  export default {
    oncreate() {
      const mymap = L.map(this.refs.map).setView([0, 0], 3);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.satellite',
        accessToken: 'pk.eyJ1IjoiaWFuaHJvYmluc29uIiwiYSI6ImNqOXFlcG01MDM5eWMyd3BnOGwwaDMxNWkifQ.glS9s3q38Ch1qsgNYrZPyw'
      }).addTo(mymap);

      const waypointMarkers = [];

      let marker;
      let roverPath;
      let waypointPath;
      let lastLat;
      let lastLng;

      let setupDone = false;
      const setup = (lat, lng, angle) => {
        // Create the rover marker
        marker = L.marker(L.latLng(lat, lng), {
          icon: locationIcon
        }).addTo(mymap);
        marker.setRotationAngle(angle);

        // Start the rover path

        roverPath = L.polyline(marker.getLatLng(), {
          color: '#00ff00'
        }).addTo(mymap);

        // Start the waypoint path

        waypointPath = L.polyline(marker.getLatLng(), {
          color: 'red',
          dashArray: '5, 5'
        }).addTo(mymap);

        lastLat = lat;
        lastLng = lng;

        setupDone = true;
      };

      const zoom = () => {
        let featureGroup;
        if (waypointMarkers.length) {
          featureGroup = L.featureGroup([marker, roverPath, waypointMarkers[0]]).addTo(mymap);
        } else {
          featureGroup = L.featureGroup([marker, roverPath]).addTo(mymap);
        }
        mymap.fitBounds(featureGroup.getBounds());
      }

      const locationIcon = L.icon({
        iconUrl: '/static/location_marker_icon.png',
        iconSize: [64, 64],
        iconAnchor: [32, 32]
      });
      const waypointIcon = L.icon({
        iconUrl: '/static/map_marker.png',
        iconSize: [64, 64],
        iconAnchor: [32, 64],
        popupAnchor: [0, -32]
      });

      this.observe('odom', odom => {
        // Trigger every time rover odom is changed

        const lat = odom.latitude_deg + odom.latitude_min / 60;
        const lng = odom.longitude_deg + odom.longitude_min / 60;
        const angle = odom.bearing_deg;

        if (setupDone) {
          // Update the rover marker
          marker.setRotationAngle(angle);

          if (lat != lastLat && lng != lastLng) {
            lastLat = lat;
            lastLng = lng;

            marker.setLatLng(L.latLng(lat, lng));

            // Update the rover path
            roverPath.addLatLng(L.latLng(lat, lng));

            if (waypointMarkers.length) {
              // Update the waypoint path
              let theLatLngs = waypointPath.getLatLngs();
              theLatLngs[0] = marker.getLatLng();
              waypointPath.setLatLngs(theLatLngs);
            }

          }
        } else setup(lat, lng, angle);

        //Zoom to fit rover, rover path, first waypoint
        zoom();
      });

      // Observe all waypoints

      this.observe('previous_waypoints', waypoints => {
        // Trigger every time waypoints are changed

        // Delete waypoint markers
        for (let i = 0; i < waypointMarkers.length; i += 1) {
          mymap.removeLayer(waypointMarkers[i]);
        }
        waypointMarkers.length = 0;

        // Reset waypoint path
        waypointPath.setLatLngs([marker.getLatLng()]);

        // Set waypoint markers
        for (let i = 0; i < waypoints.length; i += 1) {
          const lat = waypoints[i].latitude_deg + waypoints[i].latitude_min / 60;
          const lng = waypoints[i].longitude_deg + waypoints[i].longitude_min / 60;
          const waypointMarker = new L.marker([lat, lng], {
            icon: waypointIcon
          });
          // Expand waypoint path
          waypointPath.addLatLng(L.latLng(lat, lng));

          waypointMarker.bindPopup(`<b>${waypoints[i].name}</b>`).openPopup();
          waypointMarkers.push(waypointMarker);
          mymap.addLayer(waypointMarker);
        }
        zoom();
      });
    }
  }
</script>

<style>
  .map {
    height: 100%;
    width: 100%;
  }

  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
</style>