- name: Update apt cache
  apt: update_cache=yes

- name: Install developer packages
  apt: 
    name:
      - build-essential
      - python3-venv
      - python3-dev
      - python3.7
      - python3.7-dev
      - python3.7-venv
      - python-virtualenv
      - libglib2.0-dev
      - ninja-build
      - clang
      - clang-tidy
      - autoconf
      - libtool
      - libftdi-dev
      - libftdi1-dev
      - gdb
      - cmake
      - libcairo2-dev
      - libgirepository1.0-dev
      - gfortran
    state: present
