[Unit]
Description=Base Station Cameras Stream

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/mrover/.Xauthority"
User=mrover
ExecStart=bash /mrover-workspace/base_station/cameras/run.sh
Restart=always
