[Unit]
Description=Base Station Video Stream

[Service]
User={{ user }}
ExecStart=gst-launch-1.0 udpsrc port=5000 caps="application/x-rtp,encoding-name=H264,payload=96" ! rtph264depay ! h264parse ! decodebin ! autovideosink

[Install]
WantedBy=multi-user.target
